<div class="row">
  <h3>Products</h3>
  <button ng-click="updateProduct()" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i> New</button>
</div>

<div class="row" style="margin-top: 10px;">
  <table ng-table="tableParams" show-filter="true" class="table table-striped" >
    <thead>
      <tr>
        <th style="text-align: left;">Code
        <th style="text-align: left;">Name
        <th style="text-align: left;">Description
        <th style="text-align: left;">Price
        <th style="text-align: left;">Status
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in $data">
        <td>{{product.code}}
        <td><a ui-sref="ics_admin.product({code: product.code})">{{product.name}}</a>
        <td>{{product.description}}
        <td>{{product.price | currency: 'Php '}}
        <td>{{product.status}}
      </tr>
    </tbody>
  </table>
</div>

<ng-include src="'app/modules/ics_admin/view/modal_update_product.html'"></ng-include>